# ETL: Extract, Transform, Load

Download a dataset from [Kaggle](https://kaggle.com/) to develop this project.

**Note**: It must contain at least:

- 50 rows
- 2 categorical columns
- 2 numerical columns

## Load data

In [10]:
import pandas as pd

df_base = pd.read_csv('../data/p48_2015_2022_EN.csv')
df_base

,datetime_utc,Hydraulic,Adjustment P48,Balance Andorra,Balance Morocco,Balance France,Balance Portugal,Other Renewables,Non-Renewable Waste,Cogeneration,Wind,Fuel-Gas,Coal,Balearic Link,Pumping Consumption,Solar Thermal,Solar Photovoltaic,Combined Cycle,Pumping Turbine,Nuclear
0,2015-01-01 00:00:00+01:00,2621.900,1300.0,-36.0,-540.0,-1000.0,291.700,486.4,NaN,1586.9,5517.400,421.6,5077.9,-128.0,-850.000,16.0,NaN,3458.10,NaN,7105.00
1,2015-01-01 01:00:00+01:00,2532.300,1000.0,-35.0,-600.0,-1100.0,-44.100,486.4,NaN,1591.2,5034.400,422.3,5086.3,-102.0,-850.000,16.0,NaN,3789.50,NaN,7104.00
2,2015-01-01 02:00:00+01:00,2421.800,1000.0,-33.0,-300.0,-994.0,-680.700,486.0,NaN,1584.6,4674.800,422.5,4827.6,-82.0,-1130.000,7.0,NaN,3458.90,NaN,7104.00
3,2015-01-01 03:00:00+01:00,1742.500,1000.0,-30.0,-140.0,-44.1,-975.200,486.1,NaN,1585.3,4257.600,421.8,4382.7,-62.0,-1508.000,NaN,NaN,3066.00,NaN,7104.00
4,2015-01-01 04:00:00+01:00,1612.100,1000.0,-27.0,-100.0,259.5,-1010.100,469.8,NaN,1534.5,4130.300,421.2,3925.6,-62.0,-1686.000,7.0,NaN,2722.40,NaN,7104.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70123,2022-12-31 19:00:00+01:00,5182.725,-375.0,-77.0,-750.0,-1650.3,3465.000,268.1,264.3,773.7,10060.700,NaN,277.0,-266.0,-331.000,24.2,5.7,1151.00,2240.8000,6454.00
70124,2022-12-31 20:00:00+01:00,4771.475,325.0,-77.0,-750.0,-1525.4,3187.858,266.9,263.7,774.1,9969.200,NaN,277.0,-235.0,-904.150,NaN,3.6,1332.00,1888.5875,6456.75
70125,2022-12-31 21:00:00+01:00,4387.200,225.0,-73.0,-750.0,-290.0,2790.500,263.3,264.2,774.4,9306.725,NaN,283.0,-204.0,-1517.400,NaN,2.2,1563.10,1163.3750,6452.30
70126,2022-12-31 22:00:00+01:00,4055.500,-200.0,-67.0,-740.0,-1715.8,3355.000,259.2,264.7,760.6,8871.225,NaN,260.0,-153.0,-1846.700,NaN,1.7,1725.00,689.6000,6457.75
70127,2022-12-31 23:00:00+01:00,3963.950,-200.0,-62.0,-750.0,-258.0,2755.000,257.2,264.9,761.6,7506.300,NaN,260.0,-128.0,-2632.025,NaN,1.6,2104.55,240.9125,6415.45

## Clean and preprocess data

In [11]:
df_base['datetime_utc'] = pd.to_datetime(df_base['datetime_utc'], utc=True)
df_base = df_base.set_index('datetime_utc')
df_base = df_base.tz_convert('Europe/Madrid')
df_base

,Hydraulic,Adjustment P48,Balance Andorra,Balance Morocco,Balance France,Balance Portugal,Other Renewables,Non-Renewable Waste,Cogeneration,Wind,Fuel-Gas,Coal,Balearic Link,Pumping Consumption,Solar Thermal,Solar Photovoltaic,Combined Cycle,Pumping Turbine,Nuclear
datetime_utc,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00+01:00,2621.900,1300.0,-36.0,-540.0,-1000.0,291.700,486.4,NaN,1586.9,5517.400,421.6,5077.9,-128.0,-850.000,16.0,NaN,3458.10,NaN,7105.00
2015-01-01 01:00:00+01:00,2532.300,1000.0,-35.0,-600.0,-1100.0,-44.100,486.4,NaN,1591.2,5034.400,422.3,5086.3,-102.0,-850.000,16.0,NaN,3789.50,NaN,7104.00
2015-01-01 02:00:00+01:00,2421.800,1000.0,-33.0,-300.0,-994.0,-680.700,486.0,NaN,1584.6,4674.800,422.5,4827.6,-82.0,-1130.000,7.0,NaN,3458.90,NaN,7104.00
2015-01-01 03:00:00+01:00,1742.500,1000.0,-30.0,-140.0,-44.1,-975.200,486.1,NaN,1585.3,4257.600,421.8,4382.7,-62.0,-1508.000,NaN,NaN,3066.00,NaN,7104.00
2015-01-01 04:00:00+01:00,1612.100,1000.0,-27.0,-100.0,259.5,-1010.100,469.8,NaN,1534.5,4130.300,421.2,3925.6,-62.0,-1686.000,7.0,NaN,2722.40,NaN,7104.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31 19:00:00+01:00,5182.725,-375.0,-77.0,-750.0,-1650.3,3465.000,268.1,264.3,773.7,10060.700,NaN,277.0,-266.0,-331.000,24.2,5.7,1151.00,2240.8000,6454.00
2022-12-31 20:00:00+01:00,4771.475,325.0,-77.0,-750.0,-1525.4,3187.858,266.9,263.7,774.1,9969.200,NaN,277.0,-235.0,-904.150,NaN,3.6,1332.00,1888.5875,6456.75
2022-12-31 21:00:00+01:00,4387.200,225.0,-73.0,-750.0,-290.0,2790.500,263.3,264.2,774.4,9306.725,NaN,283.0,-204.0,-1517.400,NaN,2.2,1563.10,1163.3750,6452.30
2022-12-31 22:00:00+01:00,4055.500,-200.0,-67.0,-740.0,-1715.8,3355.000,259.2,264.7,760.6,8871.225,NaN,260.0,-153.0,-1846.700,NaN,1.7,1725.00,689.6000,6457.75
2022-12-31 23:00:00+01:00,3963.950,-200.0,-62.0,-750.0,-258.0,2755.000,257.2,264.9,761.6,7506.300,NaN,260.0,-128.0,-2632.025,NaN,1.6,2104.55,240.9125,6415.45

## Temporal columns

### Create

In [13]:
s = df_base.index

In [15]:
df_time = pd.DataFrame({
    'year': s.year,
    'month': s.month,
    'day': s.day,
    'hour': s.hour,
    'weekday': s.weekday,
}, index=s)

df_time['weekend'] = (df_time['weekday'] >= 5).astype(int)
df_time

                           year  month  day  hour  weekday  weekend
datetime_utc
2015-01-01 00:00:00+01:00  2015      1    1     0        3        0
2015-01-01 01:00:00+01:00  2015      1    1     1        3        0
2015-01-01 02:00:00+01:00  2015      1    1     2        3        0
2015-01-01 03:00:00+01:00  2015      1    1     3        3        0
2015-01-01 04:00:00+01:00  2015      1    1     4        3        0
...                         ...    ...  ...   ...      ...      ...
2022-12-31 19:00:00+01:00  2022     12   31    19        5        1
2022-12-31 20:00:00+01:00  2022     12   31    20        5        1
2022-12-31 21:00:00+01:00  2022     12   31    21        5        1
2022-12-31 22:00:00+01:00  2022     12   31    22        5        1
2022-12-31 23:00:00+01:00  2022     12   31    23        5        1

[70128 rows x 6 columns]

### Concatenate `DataFrames`

In [22]:
df = pd.concat([df_time, df_base], axis=1)
df

,year,month,day,hour,weekday,weekend,Hydraulic,Adjustment P48,Balance Andorra,Balance Morocco,...,Wind,Fuel-Gas,Coal,Balearic Link,Pumping Consumption,Solar Thermal,Solar Photovoltaic,Combined Cycle,Pumping Turbine,Nuclear
datetime_utc,,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00+01:00,2015,1,1,0,3,0,2621.900,1300.0,-36.0,-540.0,...,5517.400,421.6,5077.9,-128.0,-850.000,16.0,NaN,3458.10,NaN,7105.00
2015-01-01 01:00:00+01:00,2015,1,1,1,3,0,2532.300,1000.0,-35.0,-600.0,...,5034.400,422.3,5086.3,-102.0,-850.000,16.0,NaN,3789.50,NaN,7104.00
2015-01-01 02:00:00+01:00,2015,1,1,2,3,0,2421.800,1000.0,-33.0,-300.0,...,4674.800,422.5,4827.6,-82.0,-1130.000,7.0,NaN,3458.90,NaN,7104.00
2015-01-01 03:00:00+01:00,2015,1,1,3,3,0,1742.500,1000.0,-30.0,-140.0,...,4257.600,421.8,4382.7,-62.0,-1508.000,NaN,NaN,3066.00,NaN,7104.00
2015-01-01 04:00:00+01:00,2015,1,1,4,3,0,1612.100,1000.0,-27.0,-100.0,...,4130.300,421.2,3925.6,-62.0,-1686.000,7.0,NaN,2722.40,NaN,7104.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31 19:00:00+01:00,2022,12,31,19,5,1,5182.725,-375.0,-77.0,-750.0,...,10060.700,NaN,277.0,-266.0,-331.000,24.2,5.7,1151.00,2240.8000,6454.00
2022-12-31 20:00:00+01:00,2022,12,31,20,5,1,4771.475,325.0,-77.0,-750.0,...,9969.200,NaN,277.0,-235.0,-904.150,NaN,3.6,1332.00,1888.5875,6456.75
2022-12-31 21:00:00+01:00,2022,12,31,21,5,1,4387.200,225.0,-73.0,-750.0,...,9306.725,NaN,283.0,-204.0,-1517.400,NaN,2.2,1563.10,1163.3750,6452.30
2022-12-31 22:00:00+01:00,2022,12,31,22,5,1,4055.500,-200.0,-67.0,-740.0,...,8871.225,NaN,260.0,-153.0,-1846.700,NaN,1.7,1725.00,689.6000,6457.75
2022-12-31 23:00:00+01:00,2022,12,31,23,5,1,3963.950,-200.0,-62.0,-750.0,...,7506.300,NaN,260.0,-128.0,-2632.025,NaN,1.6,2104.55,240.9125,6415.45

### Set temporal columns as `index`

In [25]:
df = df.set_index(['year', 'month', 'day', 'hour', 'weekday', 'weekend'])
df

                                     Hydraulic  Adjustment P48  \
year month day hour weekday weekend
2015 1     1   0    3       0         2621.900          1300.0
               1    3       0         2532.300          1000.0
               2    3       0         2421.800          1000.0
               3    3       0         1742.500          1000.0
               4    3       0         1612.100          1000.0
...                                        ...             ...
2022 12    31  19   5       1         5182.725          -375.0
               20   5       1         4771.475           325.0
               21   5       1         4387.200           225.0
               22   5       1         4055.500          -200.0
               23   5       1         3963.950          -200.0

                                     Balance Andorra  Balance Morocco  \
year month day hour weekday weekend
2015 1     1   0    3       0                  -36.0           -540.0
               1    3       0                  -35.0           -600.0
               2    3       0                  -33.0           -300.0
               3    3       0                  -30.0           -140.0
               4    3       0                  -27.0           -100.0
...                                              ...              ...
2022 12    31  19   5       1                  -77.0           -750.0
               20   5       1                  -77.0           -750.0
               21   5       1                  -73.0           -750.0
               22   5       1                  -67.0           -740.0
               23   5       1                  -62.0           -750.0

                                     Balance France  Balance Portugal  \
year month day hour weekday weekend
2015 1     1   0    3       0               -1000.0           291.700
               1    3       0               -1100.0           -44.100
               2    3       0                -994.0          -680.700
               3    3       0                 -44.1          -975.200
               4    3       0                 259.5         -1010.100
...                                             ...               ...
2022 12    31  19   5       1               -1650.3          3465.000
               20   5       1               -1525.4          3187.858
               21   5       1                -290.0          2790.500
               22   5       1               -1715.8          3355.000
               23   5       1                -258.0          2755.000

                                     Other Renewables  Non-Renewable Waste  \
year month day hour weekday weekend
2015 1     1   0    3       0                   486.4                  NaN
               1    3       0                   486.4                  NaN
               2    3       0                   486.0                  NaN
               3    3       0                   486.1                  NaN
               4    3       0                   469.8                  NaN
...                                               ...                  ...
2022 12    31  19   5       1                   268.1                264.3
               20   5       1                   266.9                263.7
               21   5       1                   263.3                264.2
               22   5       1                   259.2                264.7
               23   5       1                   257.2                264.9

                                     Cogeneration       Wind  Fuel-Gas  \
year month day hour weekday weekend
2015 1     1   0    3       0              1586.9   5517.400     421.6
               1    3       0              1591.2   5034.400     422.3
               2    3       0              1584.6   4674.800     422.5
               3    3       0              1585.3   4257.600     421.8
               4    3       0              1534.5   4130.300     421.2
...                                           ...        ...       ...
2022 12    31  19   5       1               773.7  10060.700       NaN
               20   5       1               774.1   9969.200       NaN
               21   5       1               774.4   9306.725       NaN
               22   5       1               760.6   8871.225       NaN
               23   5       1               761.6   7506.300       NaN

                                       Coal  Balearic Link  \
year month day hour weekday weekend
2015 1     1   0    3       0        5077.9         -128.0
               1    3       0        5086.3         -102.0
               2    3       0        4827.6          -82.0
               3    3       0        4382.7          -62.0
               4    3       0        3925.6          -62.0
...                                     ...            ...
2022 12    31  19   5       1         277.0         -266.0
               20   5       1         277.0         -235.0
               21   5       1         283.0         -204.0
               22   5       1         260.0         -153.0
               23   5       1         260.0         -128.0

                                     Pumping Consumption  Solar Thermal  \
year month day hour weekday weekend
2015 1     1   0    3       0                   -850.000           16.0
               1    3       0                   -850.000           16.0
               2    3       0                  -1130.000            7.0
               3    3       0                  -1508.000            NaN
               4    3       0                  -1686.000            7.0
...                                                  ...            ...
2022 12    31  19   5       1                   -331.000           24.2
               20   5       1                   -904.150            NaN
               21   5       1                  -1517.400            NaN
               22   5       1                  -1846.700            NaN
               23   5       1                  -2632.025            NaN

                                     Solar Photovoltaic  Combined Cycle  \
year month day hour weekday weekend
2015 1     1   0    3       0                       NaN         3458.10
               1    3       0                       NaN         3789.50
               2    3       0                       NaN         3458.90
               3    3       0                       NaN         3066.00
               4    3       0                       NaN         2722.40
...                                                 ...             ...
2022 12    31  19   5       1                       5.7         1151.00
               20   5       1                       3.6         1332.00
               21   5       1                       2.2         1563.10
               22   5       1                       1.7         1725.00
               23   5       1                       1.6         2104.55

                                     Pumping Turbine  Nuclear
year month day hour weekday weekend
2015 1     1   0    3       0                    NaN  7105.00
               1    3       0                    NaN  7104.00
               2    3       0                    NaN  7104.00
               3    3       0                    NaN  7104.00
               4    3       0                    NaN  7104.00
...                                              ...      ...
2022 12    31  19   5       1              2240.8000  6454.00
               20   5       1              1888.5875  6456.75
               21   5       1              1163.3750  6452.30
               22   5       1               689.6000  6457.75
               23   5       1               240.9125  6415.45

[70128 rows x 19 columns]

## Export to `parquet`

In [27]:
df.to_parquet('../data/p48_2015_2022_EN.parquet')